name: delete-old-packages
on:
  workflow_dispatch:

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix: 
        node: ['sample','sample','sample','sample','sample','sample','sample','sample','sample','sample']
      fail-fast: false 
    
    steps:
      - name: Delete package
        uses: actions/delete-package-versions@cfbae0ac37e9c7327c747ceab8802ba72c2b056c
        with: 
            owner: NamrataJha
            repo: 'sample'
            package-name: ${{ matrix.node }}
            min-versions-to-keep: 50
            delete-only-pre-release-versions: true


 


          
